:root {

    /*font-family*/
    --font-family-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*letter spacing*/
    --letter-spacing-1: 0.1em;

    /*colors*/
    --col-btn-1: rgb(0, 110, 212);
    --col-btn-hover-1: rgb(49, 133, 211);
    --col-btn-2: rgb(201, 0, 0);
    --col-btn-hover-2: rgb(255, 0, 0);
    --col-text-1: rgb(108, 108, 108);
    --col-text-2: rgb(255, 255, 255);
    --col-icon-1: rgb(0, 110, 212);
    --col-icon-hover-1: rgb(49, 133, 211);
    --col-bg-1: rgb(49, 133, 211);
    --col-bg-2: rgb(101, 152, 200);
    --col-bg-3:rgba(87, 216, 255, 0.404);

    /*font-weight*/
    --font-weight-1: 500;
    --font-weight-2: 600;
    --font-weight-3: 700;
    --font-weight-4: 800;

    /*padding*/
    --padding-1: 5px;
    --padding-2: 10px;
    --padding-3: 15px;
    --padding-4: 20px;
    --padding-5: 25px;
    --padding-6: 30px;
    --padding-7: 35px;
    --padding-min-1: 2px;

    /*margin*/
    --margin-1: 5px;
    --margin-2: 10px;
    --margin-3: 15px;
    --margin-4: 20px;
    --margin-5: 25px;
    --margin-6: 30px;
    --margin-7: 35px;

    /*font-size*/
    --font-size-1: 16px;
    --font-size-2: 18px;
    --font-size-3: 20px;
    --font-size-4: 24px;
    --font-size-5: 26px;
    --font-size-6: 30px;
    --font-size-7: 32px;

    /*border-radius*/
    --border-radius-1: 4px;

    /*border-width*/
    --border-width-1: 1px;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-apple);
}

/*common features*/
.flex-row {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    overflow: hidden;
}

.img img {
    object-fit: cover;
    width: 100%;
}

/*common components*/

/*icons*/
.shop-icon {
    position: relative;
    border-radius: 50%;
    margin-top: var(--margin-3);
}

.shop-icon .icon{
    font-size: 50px;
    z-index:-2222 ;
}

.shop-icon .amount {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 1;
    font-size: var(--font-size-2);
    border-radius: 50%;
    padding: 0;
    background-color: var(--col-bg-2);
    transform: translate(50%,-50%);
    padding: var(--padding-1) var(--padding-2);
}

/*button remove-clear*/
.btn {
    background-color: transparent;
    letter-spacing: var(--letter-spacing-1);
    cursor: pointer;
    transition: 0.5s color;
    border-radius: var(--border-radius-1);
    font-weight: var(--font-weight-2);
}

.btn-remove {
    border: none;
    color: var(--col-btn-1);
    font-weight: var(--font-weight-1);
    outline: none;
}

.btn-remove:hover {
    color: var(--col-btn-hover-1);
}

.btn-clear {
    padding: var(--padding-1) var(--padding-3);
    font-size: var(--font-size-2);
    color: var(--col-btn-2);
    border-color: var(--col-btn-2);
    border-width: 1px;
    border-style: solid;
    transition: 0.5s color;
}

.btn-clear:hover {
    color: var(--col-btn-hover-2);
    border-color: var(--col-btn-hover-2);
}

/*cart*/

.cart {

    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: var(--margin-4);
}

.cart .left {}

.cart .left .img {

    width: 70px;
    margin-right: var(--margin-6);
}

.cart .left .content {
    align-items: flex-start;

}

.cart .left .content h1 {

    font-size: var(--font-size-2);
    letter-spacing: var(--letter-spacing-1);
    font-weight: var(--font-weight-2);
    margin-bottom: var(--margin-1);
}

.cart .left .content h2 {

    font-size: var(--font-size-1);
    color: var(--col-text-1);
    margin-bottom: var(--margin-1);

}

.cart .right {
    height: 100%;
    font-size: var(--font-size-2);

}

.cart .right .arrow {
    color: var(--col-icon-1);
    cursor: pointer;
    transition: 0.5s color;
    border: 1px solid transparent;
    border-radius: var(--border-radius-1);
    padding: var(--padding-min-1);
}

.cart .right .arrow:hover {
    border-color: var(--col-icon-hover-1);
    color: var(--col-icon-1);
}

.cart .right .total {
    font-weight: var(--font-weight-2);
    margin: var(--margin-1) 0;

}

/*main components*/

/*navbar*/
.nav-bar {
    width: 100%;
    background-color: var(--col-bg-1);
    color: var(--col-text-2);
    padding: var(--padding-2);
    justify-content: space-around;
    margin-bottom: var(--margin-6);
}

.nav-bar h1 {
    font-size: var(--font-size-7);

}

/*carts*/
.carts{
    background-color: var(--col-bg-3);
    width: 80%;
    align-items: center;
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
}

/*routers*/
.cart-route{

}